.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: $black;
  height: 60px;
  @include desktop {
    justify-content: space-around;
    height: 48px;
  }
  .nav-btn {
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: .5s ease-in-out;
    transform: rotate(0deg);
    @include desktop {
      display: none;
    }
    span {
      position: absolute;
      background-color: $white;
      height: 1px;
      width: 100%;
      border-radius: 3px;
      transition: .5s ease-in-out;
      transform: rotate();
    }
    span:nth-child(1) {
      top: 10px;
    }
    span:nth-child(2) {
      top: 17px;
    }
  }
  .nav-btn.click {
    transform: rotate(90deg);
    span:nth-child(1) {
      bottom: 10px;
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      top: 10px;
      transform: rotate(-45deg);
    }
  }
  .links {
    position: absolute;
    top: 60px;
    height: 0;
    width: 100%;
    text-align: center;
    background-color: $lighter-black;
    transition: .4s ease-in-out;
    @include desktop {
      display: flex;
      height: 100%;
      position: static;
      flex-basis: auto;
      width: auto;
      order: 1;
      background: none;
    }
    a {
      opacity: 0;
      display: none;
      color: $white;
      width: 100%;
      margin: auto;
      text-decoration: none;
      padding: 1rem;
      transition: all .25s ease-in;
      @include desktop {
        display: inline;
        opacity: 1;
        width: auto;
        padding: 0 1rem;
      }
      &:hover {
        text-decoration: underline;
        background-color: $lighter-black;
        @include desktop {
          background-color: transparent;
        }
      }
    }
  }
  .links.open {
    height: 310px;
    a {
      display: block;
      opacity: 1;
    }
  }
  .apple-logo {
    @extend %nav-icon;
    @include desktop {
      order: 0;
    }
  }
  .shopping-bag {
    @extend %nav-icon;
    margin-right: 15px;
    @include desktop {
      order: 2;
    }
  }
}
