@import "base/reset",
        "base/typography",
        "components/buttons",
        "utils/mixins",
        "utils/variables",
        "utils/placeholder",
        "layout/nav",
        "layout/section",
        "layout/grid",
        "layout/footer";

* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background-color: $off-white;
}

img {
  max-width: 100%;
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 98%;
    margin: 0 auto;
  }
  @include desktop {
    max-width: 1370px;
    margin: 0 auto;
  };
}

.col-sm-12 {
  position: relative;
  .text {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: $black;
    padding: 0 4rem;
    @include desktop {
      top: 20px;
    }
    p {
      font-size: 1.3rem;
      font-weight: 600;
      @include tablet {
        font-size: 1rem;
      }
      @include desktop {
        font-size: 1.2rem;
      };
    }
    h2 {
      font-size: 2rem;
      @include tablet {
        font-size: 1.3rem;
      }
      @include desktop {
        font-size: 2rem;
      };
    }
  }
}
