@import "base/reset",
        "base/typography",
        "components/buttons",
        "utils/mixins",
        "utils/variables",
        "utils/placeholder",
        "layout/nav",
        "layout/section",
        "layout/grid",
        "layout/footer";

* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
}

img {
  max-width: 100%;
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.col-lg-3 {
  position: relative;
  .text {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: $black;
    padding: 0 4rem;
    p {
      font-size: 1.3rem;
      font-weight: 600;
    }
    h2 {
      font-size: 2.5rem;
    }
  }
}
