$black: rgba(0, 0, 0, .95);
$white: #ffffff;
$off-white: #f7f7f7;
$blue: #0070c9;

//Lighter Colors
$lighter-black: lighten($black, 10%);

//Darker Colors
$darker-white: darken($off-white, 40%);

//Font Families
$primary-font: 'Open Sans', sans-serif;
